<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bfinger_1_170720.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,597},{107,148}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{107,148}}</string>
                <key>sourceSize</key>
                <string>{139,168}</string>
            </dict>
            <key>Bfinger_2_170720.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,846},{117,136}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{117,136}}</string>
                <key>sourceSize</key>
                <string>{139,168}</string>
            </dict>
            <key>Bfinger_3_170720.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,621},{121,116}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,25},{121,116}}</string>
                <key>sourceSize</key>
                <string>{139,168}</string>
            </dict>
            <key>Bfinger_4_170720.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,474},{121,108}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,29},{121,108}}</string>
                <key>sourceSize</key>
                <string>{139,168}</string>
            </dict>
            <key>Bshadow_1_170720.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,310},{113,148}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,20},{113,148}}</string>
                <key>sourceSize</key>
                <string>{139,168}</string>
            </dict>
            <key>Bshadow_2_170720.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,310},{125,136}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,25},{125,136}}</string>
                <key>sourceSize</key>
                <string>{139,168}</string>
            </dict>
            <key>Bshadow_3_170720.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,320},{123,118}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,36},{123,118}}</string>
                <key>sourceSize</key>
                <string>{139,168}</string>
            </dict>
            <key>Bshadow_4_170720.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,460},{127,112}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,38},{127,112}}</string>
                <key>sourceSize</key>
                <string>{139,168}</string>
            </dict>
            <key>click_eff_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,521},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>click_eff_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,421},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>click_eff_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,465},{97,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,98}}</string>
                <key>sourceSize</key>
                <string>{97,98}</string>
            </dict>
            <key>click_eff_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,321},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>click_eff_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,221},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>click_eff_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,465},{97,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,98}}</string>
                <key>sourceSize</key>
                <string>{97,98}</string>
            </dict>
            <key>click_eff_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,221},{97,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,98}}</string>
                <key>sourceSize</key>
                <string>{97,98}</string>
            </dict>
            <key>click_eff_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,421},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>click_eff_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,465},{97,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,98}}</string>
                <key>sourceSize</key>
                <string>{97,98}</string>
            </dict>
            <key>click_eff_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,321},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>click_eff_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,221},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>click_eff_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,465},{97,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,98}}</string>
                <key>sourceSize</key>
                <string>{97,98}</string>
            </dict>
            <key>click_eff_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,221},{97,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,98}}</string>
                <key>sourceSize</key>
                <string>{97,98}</string>
            </dict>
            <key>click_eff_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,521},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>eff_novice1_170720.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,221},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>eff_novice2_170720.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,40},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>eff_novice3_170720.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,68},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>guide_2ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,984},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>guide_8ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,984},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>guide_cue.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,89},{136,9}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,29},{136,9}}</string>
                <key>sourceSize</key>
                <string>{152,81}</string>
            </dict>
            <key>guide_eff_novice1.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,227},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>guide_eff_novice2.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,9},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>guide_finger_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{67,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,83}}</string>
                <key>sourceSize</key>
                <string>{67,83}</string>
            </dict>
            <key>guide_first4_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,521},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>guide_first5_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,221},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>guide_line_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{752,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{752,5}}</string>
                <key>sourceSize</key>
                <string>{752,5}</string>
            </dict>
            <key>guide_line_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,40},{432,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,2}}</string>
                <key>sourceSize</key>
                <string>{432,2}</string>
            </dict>
            <key>guide_line_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,68},{138,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,2}}</string>
                <key>sourceSize</key>
                <string>{138,2}</string>
            </dict>
            <key>guide_line_sight_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,440},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{31,31}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>guide_line_sight_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,89},{127,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{127,8}}</string>
                <key>sourceSize</key>
                <string>{131,12}</string>
            </dict>
            <key>guide_line_sight_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,218},{90,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,7}}</string>
                <key>sourceSize</key>
                <string>{90,7}</string>
            </dict>
            <key>guide_mask_power.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,9},{210,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,720}}</string>
                <key>sourceSize</key>
                <string>{210,720}</string>
            </dict>
            <key>guide_pouler1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,813},{207,498}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,498}}</string>
                <key>sourceSize</key>
                <string>{209,500}</string>
            </dict>
            <key>guide_pouler2.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,747},{97,102}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{97,102}}</string>
                <key>sourceSize</key>
                <string>{109,110}</string>
            </dict>
            <key>guide_pouler3.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,474},{141,523}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,523}}</string>
                <key>sourceSize</key>
                <string>{143,525}</string>
            </dict>
            <key>guide_table_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{278,153}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{278,153}}</string>
                <key>sourceSize</key>
                <string>{306,153}</string>
            </dict>
            <key>guide_table_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{403,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{403,265}}</string>
                <key>sourceSize</key>
                <string>{405,265}</string>
            </dict>
            <key>guide_table_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,407},{404,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,264}}</string>
                <key>sourceSize</key>
                <string>{404,264}</string>
            </dict>
            <key>guide_white ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,267},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guide.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a60b5e3fdc4166183f97ad52e3b39a51:1/1$</string>
            <key>textureFileName</key>
            <string>guide.png</string>
        </dict>
    </dict>
</plist>
